<if args="visible()">
    <if args="pickupData().stores && pickupData().stores.length">
        <form class="ampickup-store-container -checkout fieldset">
            <each args="data:elems(), as: 'element'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </each>
        </form>
    </if>
    <ifnot args="!pickupData().stores || pickupData().stores.length">
        <div class="ampickup-nostores-message -background">
            <p>
                <span translate="'Unfortunately the products you\'d like to purchase cannot be collected at a single location. Please edit your order to enable a single store collection or choose delivery to have you order delivered directly to you.'"></span>
            </p>
        </div>
    </ifnot>
</if>
