<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mtemail>
            <general>
                <direction>ltr</direction>
            </general>
            <mteditor>
                <font>
                    <![CDATA[Arial, sans-serif
Tahoma, sans-serif
"Helvetica Neue", Helvetica, Arial, sans-serif
Cabin, Helvetica, Arial, sans-serif
Oxygen, Helvetica Neue, Arial, sans-serif
                    ]]>
                </font>
            </mteditor>
            <email>
                <track_link>
                    <![CDATA[{"_1615399010964_964":{"shipping_method":"ups","track":"https:\/\/wwwapps.ups.com\/WebTracking\/returnToDetails?tracknum={code}"},"_1615399085218_218":{"shipping_method":"fedex","track":"https:\/\/www.fedex.com\/apps\/fedextrack\/?action=track&trackingnumber={code}"},"_1615399789037_37":{"shipping_method":"usps","track":"https:\/\/tools.usps.com\/go\/TrackConfirmAction_input?qtc_tLabels1={code}"}}]]>
                </track_link>
            </email>
        </mtemail>
    </default>
</config>
