<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    MT Email for M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="magetrend" translate="label" sortOrder="200">
            <label>Magetrend Extensions</label>
        </tab>
        <section id="mtemail" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>MT Email</label>
            <tab>magetrend</tab>
            <resource>Magetrend_Email::config_mtemail</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="is_active" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="direction" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Direction</label>
                    <source_model>Magetrend\Email\Model\Config\Source\Direction</source_model>
                </field>
                <field id="single_template_mode" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Single Template Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this option if you want to use the same templates for different stores.</comment>
                </field>
                <field id="text_version" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Plain/Text Version</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="email" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <field id="hide_sku" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide SKU</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="css" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Global CSS</label>
                    <comment>These css lines will be included in all email template</comment>
                </field>

                <field id="tracking_params" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking Parameters</label>
                    <comment><![CDATA[utm_source=email&utm_campaign=default&utm_target=textlink]]></comment>
                </field>

                <field id="test_email" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Testing Emails to</label>
                    <comment><![CDATA[Email Address]]></comment>
                </field>

                <field id="track_link" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tracking Links</label>
                    <frontend_model>Magetrend\Email\Block\Adminhtml\System\Form\Field\Track</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Here you can add tracking link for each shipping method, for example: https://tools.usps.com/go/TrackConfirmAction_input?qtc_tLabels1={code}. This "{code}" will be replaced with tracking code.</comment>
                </field>
            </group>

            <group id="product_block" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Block Settings</label>
                <field id="sku_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>#1 Product SKU </label>
                </field>
                <field id="sku_2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>#2 Product SKU </label>
                </field>
                <field id="sku_3" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>#3 Product SKU </label>
                </field>
                <field id="sku_4" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>#4 Product SKU </label>
                    <comment>All 4 SKU's has to be different</comment>
                </field>
            </group>

            <group id="mass_action" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mass Actions</label>

                <field id="design" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Design</label>
                    <source_model>Magetrend\Email\Model\Config\Source\Design</source_model>
                </field>

                <field id="create" translate="label" type="button" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Create Templates</label>
                    <frontend_model>Magetrend\Email\Block\Adminhtml\System\Config\Mtemail\Button\Create</frontend_model>
                    <comment>This action will add templates to transactional email list</comment>
                </field>

                <field id="delete" translate="label" type="button" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Delete Templates</label>
                    <frontend_model>Magetrend\Email\Block\Adminhtml\System\Config\Mtemail\Button\Delete</frontend_model>
                    <comment>This action will delete all transactional emails which was created by using MTEditor</comment>
                </field>

                <field id="update" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Update Templates</label>
                    <frontend_model>Magetrend\Email\Block\Adminhtml\System\Config\Mtemail\Button\Update</frontend_model>
                    <comment>This action will replace transactional emails in system config</comment>
                </field>

                <field id="restore" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Restore Templates</label>
                    <frontend_model>Magetrend\Email\Block\Adminhtml\System\Config\Mtemail\Button\Restore</frontend_model>
                    <comment>This action will restore transactional emails system config.</comment>
                </field>
            </group>
            <group id="mteditor" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>MT Editor Settings</label>
                <field id="font" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Font Families</label>
                    <comment>Each line are new font-family.</comment>
                </field>
            </group>
            <group id="demo" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Demo/Preview Data Settings</label>
                <field id="order_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order ID</label>
                    <comment><![CDATA[<button onclick="return false;" class="action-default scalable look-up-entity"><span><span>Choose Order</span></span></button>]]></comment>
                </field>
                <field id="order_id_dummy" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order ID</label>
                    <source_model>Magetrend\Email\Model\Config\Source\Order</source_model>
                    <comment><![CDATA[If this list is empty, you need to create dummy <b>order</b>. The extension is using order data for template rendering.]]></comment>
                </field>

                <field id="invoice_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice ID</label>
                    <comment><![CDATA[<button onclick="return false;" class="action-default scalable look-up-entity"><span><span>Choose Invoice</span></span></button>]]></comment>

                </field>
                <field id="invoice_id_dummy" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice ID</label>
                    <comment><![CDATA[If this list is empty, you need to create dummy <b>invoice</b>. The extension is using invoice data for template rendering.]]></comment>
                    <source_model>Magetrend\Email\Model\Config\Source\Invoice</source_model>
                </field>

                <field id="creditmemo_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Creditmemo ID</label>
                    <comment><![CDATA[<button onclick="return false;" class="action-default scalable look-up-entity"><span><span>Choose Credit Memo</span></span></button>]]></comment>

                </field>
                <field id="creditmemo_id_dummy" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Creditmemo ID</label>
                    <comment><![CDATA[If this list is empty, you need to create dummy <b>credit memo</b>. The extension is using credit memo data for template rendering.]]></comment>
                    <source_model>Magetrend\Email\Model\Config\Source\Creditmemo</source_model>
                </field>

                <field id="shipment_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment ID</label>
                    <comment><![CDATA[<button onclick="return false;" class="action-default scalable look-up-entity"><span><span>Choose Shipment</span></span></button>]]></comment>

                </field>
                <field id="shipment_id_dummy" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment ID</label>
                    <comment><![CDATA[If this list is empty, you need to create dummy <b>shipment</b>. The extension is using shipment data for template rendering.]]></comment>
                    <source_model>Magetrend\Email\Model\Config\Source\Shipment</source_model>
                </field>
            </group>
            <group id="license" translate="label" type="text" sortOrder="9999" showInDefault="1" showInWebsite="0" showInStore="0">
                <label><![CDATA[Information & License]]></label>
                <field id="key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License Key</label>
                    <comment><![CDATA[
                    If you don't know the license key, please follow this article
                    <a target="_blank" href="http://wiki2.magetrend.com/licensing/">
                    http://wiki2.magetrend.com/licensing/</a>
                    ]]></comment>
                </field>
                <field id="info" translate="label" type="label" sortOrder="1002" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Magetrend\Email\Block\Adminhtml\Config\System\Config\Info</frontend_model>
                </field>
            </group>
        </section>

    </system>
</config>
