<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Storelocator
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Stockstatus\Model\Stockstatus\Renderer\Status\DefaultProcessor" type="MidoriWeb\Inventory\Model\Stockstatus\Renderer\Status\DefaultProcessor" />
    <!--
    <preference for="Amasty\Feed\Model\Rule\GetValidFeedProducts" type="MidoriWeb\Inventory\Model\Rule\GetValidFeedProducts" />
    <preference for="Amasty\Feed\Model\InventoryResolver" type="MidoriWeb\Inventory\Model\InventoryResolver" /> -->
</config>
