<?xml version="1.0"?>
<!--
/**
 * Copyright © www.magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Tab\Front">
        <plugin name="magebig_ajaxfilter_filter_style" type="MageBig\AjaxFilter\Plugin\Adminhtml\Product\Attribute\Edit\Tab\Front" />
    </type>
</config>
