<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <cart>
                <number_items_to_display_pager>100</number_items_to_display_pager>
            </cart>
        </checkout>
        <admin>
            <security>
                <session_lifetime>86400</session_lifetime>
            </security>
        </admin>
    </default>
</config>
